/* OVERRIDES */
/* Fixing layout shift from iconify */
iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  display: inline-flex;
  justify-self: center;
  align-self: center;
}

/* Reset default styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  color: var(--text-color);
}

ul,
ol {
  list-style: none;
}

/* Make images easier to work with */
img,
picture,
video {
  max-width: 100%;
  display: block;
}

/* Remove default button styles */
button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Forms */
input,
textarea {
  border: none;
  outline: none;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}
