/* Plugins used: */
/* https://www.figma.com/community/plugin/1335383822158048847/css-extractor */
/* https://www.figma.com/community/plugin/1143682832255826428/color-import-export */

/* 
TODO: 
make bold, semibold, medium and light vars and classes and ELIMINATE SPECIFIC FONT WEIGHTS
make color vars and eliminate specific tag colors
************make generic styles like d-flex, justify-content-center, align-items-center, etc************
*/

/* OVERRIDES */
/* Fixing layout shift from iconify */
iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  display: inline-flex;
  justify-self: center;
  align-self: center;
}

/* Reset default styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  color: var(--text-color);
}

ul,
ol {
  list-style: none;
}

/* Make images easier to work with */
img,
picture,
video {
  max-width: 100%;
  display: block;
}

/* Remove default button styles */
button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Forms */
input,
textarea {
  border: none;
  outline: none;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Styles according to the design sheet */
:root {
  /* Color imports */
  --primary-color: #23a6f0;
  --secondary-color-1: #23856d;
  --dark-background-color: #252b42;
  --light-background-color: #ffffff;
  --muted-color: #bdbdbd;
  --light-gray-1: #fafafa;
  --primary-text-color: #23a6f0;
  --text-color: #252b42;
  --second-text-color: #737373;
  --light-text-color: #ffffff;
  --hover-text-color: #2a7cc7;
}

h1 {
  font-size: 58px;
  font-family: Montserrat;
  font-weight: 800;
  line-height: 80px;
}

h2 {
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 57px;
}

h3 {
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 30px;
}

h5 {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 24px;
}

.small {
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 20px;
  color: var(--second-text-color);
}

.btn-text {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 28px;
}

.mobile-menu {
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 45px;
}

p {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 20px;
}

.list {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 30px;
}

a {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 24px;
}

/* PAGE CSS START */

/* Header Section */

/* TODO: REMOVE */
body > * {
  width: 100%;
  max-width: 768px;
  overflow: hidden;
}

header {
  margin-block-end: 100px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--light-background-color);
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;

  * {
    font-weight: bold;
  }

  .nav-content {
    display: flex;
    gap: 30px;
    color: var(--primary-color);

    a {
      display: inline-flex;
      padding: 5px;
    }

    ul {
      display: flex;
      gap: 30px;

      li a {
        font-size: 16px;
        font-weight: 400;
      }
    }

    iconify-icon {
      font-size: 25px;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;

    * {
      color: var(--second-text-color);
    }

    ul {
      font-size: 14px;
      display: inline-flex;
      gap: 15px;
    }
  }
}

.nav-login {
  display: flex;

  h6 {
    display: flex;
    align-items: center;
  }
}

.ham-menu-expanded {
  display: flex;
  flex-direction: column;
  text-align: center;

  a {
    display: block;
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    line-height: inherit;
    padding: 15px 0 15px 0;
    color: var(--second-text-color);
    transition: all 0.3s ease;
  }

  a:hover {
    color: var(--hover-text-color);
    background-color: #e6e6e6;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TODO: TO REMOVE */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 768px;
}

/* Hero Section */

section.hero {
  display: flex;
  justify-content: center;
  padding: 13px;

  .wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  img {
    height: 100%;
  }

  .hero-content {
    padding-block-start: 80px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #96e9fb, #abecd6);
  }
  .hero-intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 32px;
    padding: 0 60px;

    h1 {
      font-size: 40px;
      line-height: 50px;
    }

    h4 {
      color: var(--second-text-color);
      font-weight: 500;
    }

    h5 {
      color: #2a7cc7;
    }
  }
}

.btn {
  padding: 15px 40px;
  border-radius: 5px;
  width: fit-content;
}

.btn-primary {
  font-size: 24px;
  line-height: 32px;
  background-color: var(--primary-color);
  color: var(--light-text-color);

  &:hover {
    background-color: var(--hover-text-color);
  }
}

.btn-card-products-top-week {
  border: 1px solid #ffffff;
  color: white;
  transition: all 0.3s ease;

  &:hover {
    background-color: #ffffff;
    color: var(--primary-text-color);
  }
}

.btn-products-bestseller {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--hover-text-color);
    color: var(--light-text-color);
  }
}

/* Clients Section */

section.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  color: var(--second-text-color);
  font-size: 105px;
  padding: 160px 0;
}

section.products-top-week {
  display: grid;
  justify-content: center;
  gap: 15px;
  padding: 25px 35px;
  grid-template-rows: 550px;
  grid-auto-rows: 400px;

  .grid-card {
    position: relative;
    max-width: 768px;
    overflow: hidden;
    color: var(--light-text-color);

    img {
      width: 100% !important;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .card-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      max-height: 230px;
      padding: 60px 40px 35px 40px;
      background-color: rgba(45, 139, 192, 0.75);

      h3 {
        margin-block-end: 25px;
      }
    }
  }
}

.products-bestseller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 80px 60px 32px 60px;
  text-align: center;

  .products-bestseller-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.products-bestseller-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.products-bestseller-grid-card {
  max-width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.products-bestseller-grid-card-body {
  padding: 25px 0px 35px 0px;
}

.products-bestseller-grid-card-body * {
  font-weight: bold;
}

.products-bestseller-grid-card-body h5 {
  margin-block-end: 10px;
}

.products-bestseller-grid-card-body a {
  color: var(--second-text-color);
}

.products-bestseller-grid-card-body .products-bestseller-value {
  margin-block-start: 15px;
}

.products-bestseller-value {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.products-bestseller-value .original-value {
  color: var(--muted-color);
}

.products-bestseller-value .promotional-value {
  color: var(--secondary-color-1);
}

.products-featured {
  display: flex;
  justify-content: center;
  padding: 80px 20px 80px 20px;

  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 700px;
  }

  .products-feature-intro {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 50px 0 50px;
    padding: 0 22px 0 0;

    h5 {
      color: var(--primary-text-color);
    }

    p {
      font-weight: 400;
      color: var(--second-text-color);
    }
  }

  .products-featured-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 12px;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
}

section.products-featured-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  padding: 85px;
  text-align: center;

  .products-featured-services-intro {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h4,
    p {
      color: var(--second-text-color);
    }
  }

  .products-featured-services-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .products-featured-services-grid-card {
    padding: 35px 40px 35px 40px;

    p {
      color: var(--second-text-color);
    }

    iconify-icon {
      font-size: 72px;
      color: var(--primary-color);
    }
  }
}

section.featured-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  padding-block-start: 80px;
  padding: 80px 42px 80px 42px;

  .featured-posts-intro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    h6 {
      color: var(--primary-text-color);
    }
  }

  .featured-posts-grid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  .featured-post {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

    .featured-post-image {
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .badge {
      position: absolute;
      border-radius: 3px;
      line-height: 24px;
    }

    .badge-new {
      padding: 0 10px 0 10px;
      top: 20px;
      left: 20px;
      background-color: #e74040;
      color: white;
      font-weight: bold;
    }

    .badge-stars {
      display: flex;
      align-items: center;
      right: 20px;
      font-size: 12px;
      line-height: 16px;
      border-radius: 20px;
      padding: 5px 7px 5px 7px;
      background-color: var(--dark-background-color);
      color: var(--light-text-color);
      font-weight: inherit !important;

      iconify-icon {
        font-size: 16px;
        color: #ffce31;
      }
    }

    .product-actions {
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
      ul {
        display: flex;
        gap: 10px;
        width: fit-content;

        li a {
          display: flex;
          justify-content: center;
          background-color: var(--light-background-color);
          border-radius: 100%;

          width: 40px;
          height: 40px;

          &:hover {
            background-color: var(--light-gray-1);
          }

          iconify-icon {
            font-size: 20px;
          }
        }

      }
    }

    .featured-post-body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
      padding: 25px;

      * {
        font-weight: bold;
      }

      p {
        font-weight: 600;
        color: var(--second-text-color);
      }

      .post-alternative-titles {
        display: flex;
        gap: 10px;
        flex-direction: column;
        h5,
        h6 {
          font-weight: bold;
        }
        h6 {
          color: var(--primary-text-color);
        }
      }

      .featured-links {
        ul {
          display: flex;
          gap: 15px;
        }
        li {
          display: inline;
        }
        .google {
          color: #8ec2f2;
        }
      }
      .post-meta {
        display: flex;
        justify-content: space-between;
        padding: 15px 0 15px 0;
        gap: 10px;

        & > div {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }

      .post-sales {
        display: flex;
        gap: 5px;
        color: var(--second-text-color);
        
        iconify-icon {
          font-size: 20px;
        }
      }

      .cta {
        width: fit-content;
        
        &:hover {
          & > * {
            color: var(--hover-text-color);
          }
        }
        
        .cta-button {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          font-weight: bold;
          color: var(--second-text-color);
          line-height: 24px;

          iconify-icon {
            font-size: 20px;
            color: var(--primary-color);
          }
        }
      
      }
    }
  }
}


footer {
  width: 100%;
  & > * {
    width: 100%;
  }

  .socials {
    background-color: var(--light-gray-1);
    .wrap {
      display: flex;
      flex-direction: column;
      padding: 55px 45px 40px 45px;
      gap: 25px;

      ul {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        color: var(--primary-color);
        a {
          font-size: 25px;
        }
      }
    }
  }

  .footer-content {
    .wrap {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 70px 45px 70px 45px;

      .footer-nav * {
        font-weight: 700;
      }

      .footer-section {
        h5 {
          padding-block-end: 20px;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        li a {
          color: var(--second-text-color);
        }
      }
    }

    .input-group {
      display: flex;
      max-width: 320px;

      /* Applies to both the input and button, direct children of .input-group */
      & > * {
        padding: 15px 20px;
        font-size: 14px;
        font-weight: 600;
        line-height: 28px;
      }

      input {
        border-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border: 1px solid #e6e6e6;
        border-inline-end: none;
        background-color: #f9f9f9;
        width: 100%;
      }
      button {
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: var(--primary-color);
        color: var(--light-text-color);

        &:hover {
          background-color: var(--hover-text-color);
        }
      }
    }
  }
}

.footer-credits {
  .wrap {
    padding: 25px 100px;
    background-color: var(--light-gray-1);
    h6 {
      text-align: center;
      color: var(--second-text-color);
      font-weight: 700;
    }
  }
}

/* PAGE CSS END */

iconify-icon[icon="bx:alarm"] {
  color: var(--primary-color);
}

iconify-icon[icon="ooui:chart"] {
  color: var(--secondary-color-1);
}

/* Making every clickable icon centered */

li:has(iconify-icon),
a:has(iconify-icon) {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
}

/* Desktop Media Queries */

/* TODO: Add javascript? to remove and add this class to burger menu */
.visible-mobile-only {
  display: inherit !important;
}

.visible-desktop-only {
  display: none !important;
}

.visible-desktop-lg-only {
  display: none !important;
}

@media (min-width: 768px) {
  body > * {
    /* TODO REMOVE THIS? */
    width: 100%;
    max-width: initial;
  }

  .visible-mobile-only {
    display: none !important;
  }

  .visible-desktop-only {
    display: inherit !important;
  }

  address.contact-us {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-background-color);
    color: var(--light-text-color);
    padding: 20px 35px;
    /* Resetting the address tag */
    font-style: normal;

    * {
      font-weight: bold;
    }

    .social {
      display: flex;
      gap: 10px;

      ul {
        display: inline-flex;
        gap: 10px;
        iconify-icon {
          font-size: 15px;
          color: var(--light-text-color);
        }
      }
    }
  }

  .contacts {
    display: flex;
    gap: 20px;

    h6 {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  header {
    margin-block-end: 50px;
  }

  .top-menu {
    .wrap {
      display: flex;
      gap: 120px;
    }

    /* Centering everything vertically, damn you icons */
    * * {
      margin: auto 0;
    }
  }

  section.hero {
    padding: 80px;
  }

  section.clients {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px;
  }

  section.products-bestseller {
    .products-bestseller-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr;
      justify-content: center;
    }

    .products-bestseller-grid-card {
      max-width: 200px;
    }
  }

  section.products-top-week {
    .grid-card {
      .card-overlay {
        width: fit-content;
      }
    }
  }

  section.products-featured-services {
    .products-featured-services-grid {
      display: flex;
      flex-direction: row;
      justify-content: center !important;
      align-items: center;
      flex-wrap: wrap;

      .products-featured-services-grid-card {
        flex: 1;
        padding: 0;
      }
    }
  }

  footer {
    & > * {
      width: 100%;
      display: flex;
      justify-content: center !important;
      padding-inline: 30px;

      .wrap {
        width: 100%;
        max-width: 1050px;
      }
    }

    .socials {
      .wrap {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0px;
        padding-inline: 0px;
        padding-block-end: 5px;
      }
    }

    hr {
      display: block;
      flex-basis: 100%;
      padding-block-start: 40px;
      border: 0px;
      border-block-end: 1px solid #e6e6e6;
    }

    .footer-content {
      .wrap {
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        padding: 70px 0 70px 0;
      }
    }

    .footer-credits {
      .wrap {
        padding-inline: 0px;
        h6 {
          text-align: left;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .visible-desktop-lg-only {
    display: block !important;
  }

  section.clients {
    padding: 60px 30px;
  }

  section.products-top-week {
    width: fit-content;
    padding: 80px 50px;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    & > :nth-child(1) {
      grid-column: 1 / 2; /* First column */
      grid-row: 1 / 3; /* Span two rows */
    }

    & > :nth-child(2) {
      grid-column: 2 / 3; /* Second column */
      grid-row: 1 / 2; /* First row of second column */
    }

    & > :nth-child(3) {
      grid-column: 2 / 3; /* Second column */
      grid-row: 2 / 3; /* Second row of second column */
    }
  }

  section.products-bestseller {
    .products-bestseller-grid {
      grid-template-columns: repeat(5, 1fr);
      justify-content: center;
    }
  }

  section.products-featured {
    padding-inline: 100px;

    .wrap {
      max-width: 1050px;
      height: auto;
      display: flex;
      flex-direction: row;
      gap: 50px;

      .products-feature-intro {
        order: 2;
        padding: 0px;
        margin: 0px;
      }

      .products-featured-grid {
        order: 1;
      }
    }
  }

  section.featured-posts {
    gap: 100px;

    .featured-posts-grid {
      flex-direction: row;

      .featured-post {
        flex-direction: row;

        img {
          width: minmax(100px, 210px);
          height: 425px;
        }

        .cta {
          .cta-button {
            padding: 10px 15px 10px 20px;
            border: 1px solid var(--primary-color);
            border-radius: 35px;
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  section.hero {
    position: relative;
    padding: 60px;
    width: fit-content;

    .hero-content {
      position: relative;
      padding: 0px;
      padding-inline-start: 60px;
      gap: 0px;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      img {
        max-width: 800px;
      }
    }

    .hero-intro {
      display: flex;
      align-items: start;
      padding: 0px;
      text-align: start;

      h1 {
        font-size: 58px;
        line-height: 80px;
      }

      h4 {
        max-width: 370px;
      }
    }

    .wrap {
      display: flex;
      flex-direction: row;
      max-height: 690px;
      gap: 0px;
      position: relative;
      transform: translate(100px, 0px);
      justify-content: flex-end;
      align-items: center;
      width: 100%;
    }
  }

  section.products-top-week {
    padding-inline: 100px;
  }

  section.products-bestseller {
    padding: 100px;
    .products-bestseller-grid-card {
      max-width: 250px;
    }
  }

  section.products-featured {
    .wrap {
      gap: 100px;
      max-width: 1350px;
    }
  }
}
