/* Plugins used: */
/* https://www.figma.com/community/plugin/1335383822158048847/css-extractor */
/* https://www.figma.com/community/plugin/1143682832255826428/color-import-export */

/* 
TODO: 
make bold, semibold, medium and light vars and classes and ELIMINATE SPECIFIC FONT WEIGHTS
make color vars and eliminate specific tag colors
make .nav-login invisible on lg devices
make .message invisible on lg devices
make .contact-us invisible on mobile devices
*/

/* OVERRIDES */
/* Fixing layout shift from iconify */
iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  display: inline-flex;
  justify-self: center;
  align-self: center;
}

/* Reset default styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  color: var(--text-color);
}

ul,
ol {
  list-style: none;
}

/* Make images easier to work with */
img,
picture,
video {
  max-width: 100%;
  display: block;
}

/* Remove default button styles */
button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Forms */
input,
textarea {
  border: none;
  outline: none;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Styles according to the design sheet */
:root {
  /* Color imports */
  --primary-color: #23a6f0;
  --secondary-color-1: #23856d;
  --dark-background-color: #252b42;
  --light-background-color: #ffffff;
  --muted-color: #bdbdbd;
  --light-gray-1: #fafafa;
  --primary-text-color: #23a6f0;
  --text-color: #252b42;
  --second-text-color: #737373;
  --light-text-color: #ffffff;
  --hover-text-color: #2a7cc7;
}

h1 {
  font-size: 58px;
  font-family: Montserrat;
  font-weight: 800;
  line-height: 80px;
}

h2 {
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 57px;
}

h3 {
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 30px;
}

h5 {
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 24px;
}

.small {
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 20px;
  color: var(--second-text-color);
}

.btn-text {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 28px;
}

.mobile-menu {
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 45px;
}

p {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 20px;
}

.list {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 30px;
}

a {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 24px;
}

/* PAGE CSS START */

/* Header Section */

/* TODO: REMOVE */
body > * {
  width: 100%;
  max-width: 768px;
  overflow: hidden;
}

header {
  margin-block-end: 100px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--light-background-color);
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;

  * {
    font-weight: bold;
  }

  a {
    font-size: 2rem;
    display: inline-flex;
    padding: 4px;
  }

  .nav-links {
    display: flex;
    align-items: center;

    * {
      color: var(--second-text-color);
    }
    ul {
      display: inline-flex;
      gap: 15px;
    }
  }
}

.nav-content {
  display: flex;
  gap: 30px;
  color: var(--primary-color);

  ul {
    display: flex;
    gap: 30px;
  }

  iconify-icon {
    font-size: 25px;
  }
}

.nav-login {
  display: flex;

  h6 {
    display: flex;
    align-items: center;
  }
}

.ham-menu-expanded {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ham-menu-expanded a {
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  line-height: inherit;
  padding: 15px 0 15px 0;
  color: var(--second-text-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TODO: TO REMOVE */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 768px;
}

/* Hero Section */

section.hero {
  display: flex;
  justify-content: center;
  padding: 13px;
}

.hero-content {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  padding-block-start: 80px;
  border-radius: 20px;
  background-image: linear-gradient(to right, #96e9fb, #abecd6);
}

.hero-intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 32px;
  padding: 0 60px;
}

.hero h1 {
  font-size: 40px;
  line-height: 50px;
}

.hero h4 {
  color: var(--second-text-color);
  font-weight: 500;
}

.hero h5 {
  color: #2a7cc7;
}

.btn {
  padding: 15px 40px;
  border-radius: 5px;
  width: fit-content;
}

.btn-primary {
  font-size: 24px;
  line-height: 32px;
  background-color: var(--primary-color);
  color: var(--light-text-color);
}

.btn-card-products-top-week {
  border: 1px solid #ffffff;
  color: white;
}

.btn-products-bestseller {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

/* Clients Section */

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  color: var(--second-text-color);
  font-size: 150px;
  padding: 160px 0;
}

.products-top-week {
  display: grid;
  gap: 15px;
  padding: 25px 35px;
  grid-template-rows: 550px;
  grid-auto-rows: 400px;
}

.products-top-week-grid-card {
  position: relative;
  max-width: 768px;
  overflow: hidden;
  color: var(--light-text-color);
}

.products-top-week-grid-card img {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.products-top-week-grid-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 230px;
  padding: 60px 40px 35px 40px;
  background-color: rgba(45, 139, 192, 0.75);
}

.products-top-week-grid-card-overlay h3 {
  margin-block-end: 25px;
}

.products-bestseller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 80px 60px 32px 60px;
  text-align: center;
}

div.products-bestseller-intro h3 {
  margin-block-end: 10px;
}

.products-bestseller-grid {
  display: grid;
  justify-content: center;
  gap: 30px;
}

.products-bestseller-grid-card {
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.products-bestseller-grid-card-body {
  padding: 25px 72px 35px 72px;
}

.products-bestseller-grid-card-body * {
  font-weight: bold;
}

.products-bestseller-grid-card-body h5 {
  margin-block-end: 10px;
}

.products-bestseller-grid-card-body a {
  color: var(--second-text-color);
}

.products-bestseller-grid-card-body .products-bestseller-value {
  margin-block-start: 15px;
}

.products-bestseller-value {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.products-bestseller-value .original-value {
  color: var(--muted-color);
}

.products-bestseller-value .promotional-value {
  color: var(--secondary-color-1);
}

.products-featured {
  padding: 80px 20px 80px 20px;
  padding-block-start: 80px !important;
}

.products-feature-intro {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 50px 0 50px;
  padding: 0 22px 0 0;
}

.products-feature-intro h5 {
  color: var(--primary-text-color);
}

.products-feature-intro p {
  font-weight: 400;
  color: var(--second-text-color);
}

.products-featured-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 12px;
  padding: 50px 20px 30px 20px;
}

.products-featured-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.products-featured-services {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px 42px 80px 42px;
  text-align: center;
}

.products-featured-services-intro {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h4,
  p {
    color: var(--second-text-color);
  }
}

.products-featured-services-grid-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 35px 40px 35px 40px;
}

.products-featured-services-grid-card iconify-icon {
  font-size: 72px;
  color: var(--primary-color);
}

.products-featured-services-grid-card p {
  color: var(--second-text-color);
}

.featured-posts {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-block-start: 80px;
  padding: 80px 42px 80px 42px;
}

.featured-posts-intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.featured-posts-intro h6 {
  color: var(--primary-text-color);
}

.featured-post {
  position: relative;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.featured-post .badge {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #e74040;
  padding: 0 10px 0 10px;
  line-height: 24px;
  color: white;
  border-radius: 3px;
  font-weight: bold;
}

.featured-post-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
}

.featured-links ul {
  display: flex;
  gap: 15px;
}

.featured-links li {
  display: inline;
}

.featured-links .google {
  color: #8ec2f2;
}

.featured-post-body h4 {
  font-weight: 400;
}

.featured-post-body p {
  font-weight: 400;
  color: var(--second-text-color);
}

.post-meta {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 15px 0;
  gap: 10px;
}

.post-meta > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  button {
    font-size: 14px;
    font-weight: bold;
    color: var(--second-text-color);
    line-height: 24px;
  }

  iconify-icon {
    font-size: 20px;
    color: var(--primary-color);
  }
}

.socials {
  display: flex;
  flex-direction: column;
  padding: 55px 45px 40px 45px;
  gap: 25px;
  background-color: var(--light-gray-1);

  ul {
    display: flex;
    gap: 20px;
    color: var(--primary-color);
    a {
      font-size: 25px;
    }
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 70px 45px 70px 45px;
}

.footer-nav * {
  font-weight: 700;
}

.footer-section h5 {
  padding-block-end: 20px;
}

.footer-section ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-section li a {
  color: var(--second-text-color);
}

.input-group {
  display: flex;

  /* Applies to both the input and button, direct children of .input-group */
  & > * {
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
  }

  input {
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid #e6e6e6;
    border-inline-end: none;
    background-color: #f9f9f9;
    width: 100%;
  }
  button {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: var(--primary-color);
    color: var(--light-text-color);
  }
}

.footer-credits {
  padding: 25px 100px;
  background-color: var(--light-gray-1);

  h6 {
    text-align: center;
    color: var(--second-text-color);
    font-weight: 700;
  }
}

/* PAGE CSS END */

iconify-icon[icon="bx:alarm"] {
  color: var(--primary-color);
}

iconify-icon[icon="ooui:chart"] {
  color: var(--secondary-color-1);
}

/* Making every clickable icon centered */

a:has(iconify-icon) {
  display: flex;
  justify-content: center;
  align-items: center;
}

li:has(iconify-icon) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
}

/* Desktop Media Queries */

/* TODO: Add javascript to remove and add this class to burger menu */
.invisible {
  display: none;
}

@media (min-width: 768px) {
  body > * {
    /* TODO REMOVE THIS? */
    width: 100%;
    max-width: initial;
  }

  address.contact-us {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-background-color);
    color: var(--light-text-color);
    padding: 20px 35px;
    /* Resetting the address tag */
    font-style: normal;

    * {
      font-weight: bold;
    }

    .social {
      display: flex;
      gap: 10px;

      ul {
        display: inline-flex;
        gap: 10px;
        iconify-icon {
          font-size: 15px;
          color: var(--light-text-color);
        }
      }
    }
  }

  .contacts {
    display: flex;
    gap: 20px;
  }

  header {
    margin-block-end: 50px;
  }

  .top-menu {
    .wrap {
      display: flex;
      gap: 120px;
    }
  }

  section.hero {
    padding: 80px;
  }
}

@media (min-width: 1200px) {
  section.hero {
    position: relative;
    padding: 60px;

    .hero-content {
      position: relative;
      padding: 0px;
      gap: 0px;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      
      img {
        max-width: 700px;
      }
    }


    .hero-intro {
      display: flex;
      align-items: start;
      padding: 0px;
      text-align: start;

      h1 {
        font-size: 58px;
        line-height: 80px;
      }
    }

    .wrap {
      position: relative;
      transform: translate(100px, 0px);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
    }
  }
}
